/* 노멀라이즈 */
body, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}


/* 폰트 */
* {
	font-family: 'pretendard';
}

/* 임시 */
html > body * {
    box-sizing: border-box;
}
/* 임시 */

/* 라이브러리 */
.bd {
    border: 1px solid #aaa;
}
.bd-dt {
    border: 1px dotted #aaa;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.block {
    display: block;
}
.mx-auto {
    margin: 0 auto;
}
.pt-10 {
    padding-top: 10px;
}
.flex {
    display: flex;
}
.flex-jc-c {
    justify-content: center;
}
.flex-jc-s {
    justify-content: flex-start;
}
.flex-jc-e {
    justify-content: flex-end;
}
.flex-jc-sb {
	justify-content: space-between;
}
.flex-jc-sa {
    justify-content: space-around;
}
.flex-jc-se {
    justify-content: space-evenly;
}
.flex-ai-c {
    align-items: center;
}
.flex-ai-s {
	align-items: flex-start;
}
.flex-ai-e {
	align-items: flex-end;
}
.flex-col {
    flex-direction: column;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-grid {
    display: grid;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.font-w-100 {
    font-weight: 100;
}
.font-w-200 {
    font-weight: 200;
}
.font-w-300 {
    font-weight: 300;
}
.font-w-400 {
    font-weight: 400;
}
.font-w-500 {
    font-weight: 500;
}
.font-w-600 {
    font-weight: 600;
}
.font-w-700 {
    font-weight: 700;
}
.font-w-800 {
    font-weight: 800;
}
.font-w-900 {
    font-weight: 900;
}
.text-56 {
    font-size: 56px;
}
.text-52 {
    font-size: 52px;
}
.text-48 {
    font-size: 48px;
}
.text-44 {
    font-size: 44px;
}
.text-24 {
    font-size: 24px; /* 1.5rem */
}
.text-18 {
	font-size: 18px;
}
.text-16 {
	font-size: 16px;
}
.text-14 {
	font-size: 14px;
}
.text-12 {
	font-size: 12px;
}
.text-white {
    color: white;
}

.bg-black {
	background-color: black;
}

.con-min-width {
    min-width: 1440px;
    border: 3px solid skyblue;
}
.con {
    width: 1440px; 
    /* margin: 0 auto; */
    /* outline: 1px solid green; */
}

/* 커스텀 */

/* header 시작 */
header {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1000;
}

/* header > .menu_box_1 시작 */
.menu_box_1 {
    height: 80px;
}
/* 로고 */
.menu_box_1 > .logo_wrap > h1 {
	width: 160px;
    height: 100%;
	font-size: 3rem
}
/* 검색창 */
::-webkit-input-placeholder {
    color: #777;
}
.con-min-width > .con .search_wrap {
    width: 400px;
	height: 50px;
    padding-left: 10px;
    padding-right: 10px;
	outline: 1px solid #fff;
    margin-right: 30px;
}

.con-min-width > .con .search_wrap > .search_box {
    width: 100%;
	height: 100%;
}

.con-min-width > .con .search_wrap > .search_box > .input {
	width: 100%;
    background-color: transparent;
	border: none;
	font-size: 20px;
	padding: 0;
	padding-right: 10px;
}

.con-min-width > .con .search_wrap > .search_box > .input:focus {
	outline: none;
}

.con-min-width > .con .search_wrap > .icon_box {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.con-min-width > .con .search_wrap > .icon_box i::before {
	display: block;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

/* 검색창 */

.cart_login > .cart, .cart_login > .login {
	width: 80px;
}
.cart_login > .login {
    padding-right: 10px;
}
/* header > .menu_box_1 끝 */
/* header 끝 */

/* main 시작 */
main {
    margin-top: 80px;
}
main > .section {
    height: 810px;
}
main > .section > .con {
    height: 100%;
}

/* 메인 안의 모든 섹션 안의 요소들 수직 가운데 정렬 시작 */
main > .section > .con > .img_txt_wrap {
    align-items: center; 
}
/* 메인 안의 모든 섹션 안의 요소들 수직 가운데 정렬 끝 */

/* main > .section_1 시작 */
/* main > .section_1 {
    height: 900px;
} */

/* 임시 */
main > .section_1 img {
    opacity: 0.3;
}


/* 모든 section_l 안의 .txt_box */
main > .section_l > .con > .img_txt_wrap > .txt_box_l {
    margin-left: 40px;
}
/* main > .section_1 끝 */

/* 모든 section_r 안의 .txt_box */
main > .section_r > .con > .img_txt_wrap > .txt_box {
    text-align: right;
}
main > .section_r > .con > .img_txt_wrap > .img_box {
    margin-left: 40px;
}

/* main > .section_2 시작 */
main > .section_2 {
    /* padding: 80px 0; */
    margin: 100px 0;
    
}
main > .section_2 > .con > .flex_box {
    width: 100%;
}
main > .section_2 > .con > .flex_box:last-child {
	padding-top: 10px; /* section_2 .it_box 상하 사이 간격 */
}

main > .section_2 > .con .it_box {
    width: 36%; 
	height: 350px;
    border-radius: 10px;
    /* border: 1px solid blue; */
    background-color: black;
    overflow: hidden;
}
main > .section_2 > .con .it_box:last-child {
	margin-left: 10px; /* section_2 .it_box 좌우 사이 간격 */
	background-color: #ffa;
}
/*main > .section_2 끝 */

main > .section_2-2 {
    height: 50px;
}

/* main > .section_3 시작 */
main > .section_3 {
    /* height: 900px; */
    height: 810px;
    margin-bottom: 120px;
}
main > .section_3 > .con {
    height: 810px;
}
main > .section_3 > .con > .video_wrap {
    width: 100%;
    height: 100%;
    /* background-color: #ffd; */
}
main > .section_3 > .con > .video_wrap > iframe {
    width: 100%;
    height: 100%;
}
/* main > .section_3 끝 */

/* main > .section_4 시작 */
main > .section_4 > .con > .absolute { /* AI가... (이하생략) h1 */
    left: 10px;
    top: 10px;
}

main > .section > .con > .img_txt_wrap > .txt_box > .txt {
	margin-top: 30px; 
	/* 메인 안의 모든 섹션 안의 텍스트 박스*/
}
/* main > .section_4 끝 */

/* main > .section_4~7 높이 설정 시작 */
main > .st_h_1 {
    height: 780px;
}
/* main > .section_4~7 높이 설정 끝 */


/* main > .section_8 시작 */
main > .section_8 > .con {
    height: 100%;
}
main > .section_8 > .con > .info_wrap {
    width: 1280px;
}
main > .section_8 > .con > .info_wrap > h2 {
    padding-left: 54px;
    padding-bottom: 40px;
    font-size: 52px;
    font-weight: 700;
}

main > .section_8 > .con > .info_wrap > .info_box > .s24_i {
    width: 315px; height: 520px;
    /* outline: 1px solid #e6a; */
}
main > .section_8 > .con > .info_wrap > .info_box > .s24_i h3 {
    font-size: 38px;
    font-weight: 700;
}
main > .section_8 > .con > .info_wrap > .info_box > .s24_i i::before {
    font-size: 31px;
    display: block;
    padding-top: 1px;
    text-shadow: 1px 0 black;
}

main > .section_8 > .con > .info_wrap > .info_box .s24_i div.txt_box.mt-30 {
    margin-top: 30px;
    height: 400px;
}
main > .section_8 > .con > .info_wrap > .info_box .s24_i div.txt_box .block {
    margin-top: 14px;
}
main > .section_8 > .con > .info_wrap > .info_box .s24_i div.txt_box_l .block {
    margin-right: 18px;
}
/* main > .section_8 > .con > .info_wrap > .info_box .s24_i div.txt_box_r .block {
    margin-left: 18px;
} */
/* main > .section_8 끝 */
/* main > .section_9 시작 */
main > .section_9 > .con {
    height: 100%;
}
main > .section_9 > .con > .absolute {
    left: 10px;
    top: 100px;
}
main > .section_9 > .con > .pd-t {
    padding-top: 50px;
}
/* main > .section_9 끝 */
/* main 끝 */

/* footer 시작 */
nav.con {
	width: 100%; /*바로 위 섹션에 크기를 맞출까?*/
    height: 440px;
	/* border-radius: 40px 40px 0px 0px; */
/* 	font-size: 14px; */
}
footer > section.con-min-width nav > div {
	width: 1220px;
/* 	padding-left: 100px; */
	padding-top: 10px;
}
footer > section.con-min-width nav > div:last-child {
    padding-top: 30px;
}

footer .con > .ft_menu_1 > ul  h3.mb-18 {
	font-size: 16px;
    margin-bottom: 20px;
    /* h3 메뉴 아래 간격 */
}
footer nav.con .ft_menu_1 ul > li {
    margin-top: 12px; /* 작은 메뉴들 간격 */
    /* border: 1px solid #fff; */
}

/* .con > ft_menu.ft_menu_2 시작 */
footer > .con-min-width .sns_logo_wrap > .logo {
    width: 30px;
	height: 30px;
    /* 	border: 1px dashed #000; */
}

.txt_box div > span {
    padding-left: 10px;
}
.sns_logo_wrap .fa-brands.fa-square-facebook::before {
    padding-right: 3px;
}
/* .con > ft_menu.ft_menu_2 끝 */
/* footer 끝 */